.header {
  background-color: #272a33;;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    color: white;
    margin-left: 3rem;
    text-transform: uppercase;
  }
}

.contents {
  display: grid;
  max-width: 100rem;
  margin: auto;
  padding: 5rem 0;

  grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
  grid-row-gap: 5rem;
  justify-items: center;
}
