.management {
  max-width: 100rem;
  margin: 4rem auto;
  margin-top: 3.5rem;
  display: flex;
  padding: 0 3rem;

  &__form {
    display: flex;
    align-items: center;
    margin-right: auto;
    
    label {
      font-size: 1.4rem;
      margin-right: 1rem;
    }
  }
  
  & button + button {
    margin-left: 2rem;
  }

  @media only screen and (max-width: 41.25em) {
    flex-direction: column;
    justify-content: space-between;
    height: 10rem;

    & button + button {
      margin-left: 0;
    }
  }
}

.contents {
  display: grid;
  max-width: 100rem;
  margin: auto;
  padding: 0 1rem;

  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 5rem;
  justify-items: center;
}


