.management {
  max-width: 100rem;
  margin: auto;
  margin-top: 2rem;
  display: flex;
  padding: 0 4rem;

  &__create-btn {
    margin-left: auto;
    height: 4rem;
    width: 12rem;
  }

  &__form {
    display: flex;
    align-items: center;

    label {
      font-size: 1.4rem;
      margin-right: 1rem;
    }
  }
}

.contents {
  display: grid;
  max-width: 100rem;
  margin: auto;
  padding: 5rem 0;

  grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
  grid-row-gap: 5rem;
  justify-items: center;
}


