:root {
  --shadow-light: 0 .5rem 2rem rgba(0, 0, 0, .2);
  --color-black: rgba(0, 0, 0, 0.8);
  --color-grey-light: rgba(0, 0, 0, .5);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // Define o valor de '1rem' como sendo 10px
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
}