.card {
  display: flex;
  position: relative;
  width: 25rem;
  height: 20rem;
  border-radius: .5rem;
  box-shadow: var(--shadow-light);
  overflow: hidden;

  &__operations {
    position: absolute;
    display: flex;
    list-style: none;
    top: 1rem;
    right: 1rem;

    // ícones de operações
    svg {
      font-size: 1.5rem;
      cursor: pointer;
    }

    & > *:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  // REACT LINK
  a,
  a:link,
  a:visited {
    text-decoration: none;
    flex: 1;
  }
  
  &__img {
    background-color: rgba(176, 180, 189, 0.836);
    height: 80%;
  }
  
  &__title {
    color: var(--color-black);
    text-align: center;
    margin-top: .8rem;
    font-size: 1.8rem;
    text-transform: uppercase;
  }
}